[submodule "custom-meta"]
	path = custom-meta
	url = https://github.com/doanhuynh049/build_kernel_module.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-renesas"]
	path = meta-renesas
	url = https://github.com/renesas-rcar/meta-renesas
