[submodule "custom-meta"]
	path = custom-meta
	url = https://github.com/doanhuynh049/build_kernel_module.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-renesas"]
	path = meta-renesas
	url = https://github.com/renesas-rcar/meta-renesas
[submodule "my_poky"]
	path = my_poky
	url = git@github.com:yoctoproject/poky.git
